# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://SEU_PROJETO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anon_aqui

# App
NEXT_PUBLIC_APP_NAME=Cestas com Afeto
NEXT_PUBLIC_WHATSAPP_NUMBER=5588900000000
